body {
  background-color: #f7f7f7;
  font-size: 16px;
  color: #3E5266;
  font-family: 'Source Sans Pro', 'Arial', sans-serif; }
  @media (max-width: 480px) {
    body {
      font-size: 14px; } }

.container-fluid {
  max-width: 1500px;
  margin: auto; }

.header {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase; }
  .header .sm {
    font-size: 0.7em; }
  @media (max-width: 480px) {
    .header {
      margin-top: 10%;
      margin-bottom: 10%; } }

.intro p {
  font: 300 17px 'Source Sans Pro';
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 0;
  text-align: justify;
  width: 700px; }
  @media (max-width: 480px) {
    .intro p {
      font-size: 16px;
      text-align: left;
      width: 90%; } }

.container {
  position: relative;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em; }

.logo {
  max-width: 380px;
  margin: auto; }
  @media (max-width: 480px) {
    .logo {
      max-width: 90%; } }

section {
  margin-bottom: 4%; }
  @media (max-width: 480px) {
    section {
      margin-bottom: 10%; } }

p {
  line-height: 1.5em;
  margin: 0 auto 1.3em; }

a {
  color: #6f91b2;
  text-decoration: none;
  outline: 0; }

a:hover,
a:active,
a:focus {
  text-decoration: underline;
  outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Oswald', 'Helvetica', Arial, sans-serif; }

h1 a,
h1 a:hover,
h1 a:active,
h1 a:focus,
h2 a,
h2 a:hover,
h2 a:active,
h2 a:focus {
  color: #000; }

.hed {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  margin: 1% auto;
  padding: 1% 0; }

li {
  line-height: 1.5em; }

.di-projects-list .proj, .di-alumni-list .proj {
  box-shadow: 1px 1px 1px #cacaca;
  background: #fff;
  height: 380px;
  margin-bottom: 1em;
  padding: 1.5em 2em 0.5em;
  margin-left: 5.5%; }
  @media (max-width: 768px) {
    .di-projects-list .proj, .di-alumni-list .proj {
      margin-left: 0; } }
.di-projects-list .solid-bkg, .di-alumni-list .solid-bkg {
  box-shadow: 1px 1px 1px #cacaca;
  background: #fff;
  padding: 1.5em; }
.di-projects-list a, .di-alumni-list a {
  cursor: pointer;
  color: #3E5266;
  display: block; }
  .di-projects-list a:hover, .di-alumni-list a:hover {
    color: #3E5266;
    text-decoration: none; }

.di-alumni-list {
  text-align: center; }
  .di-alumni-list p {
    margin: 0.5em;
    font-weight: 300; }
  .di-alumni-list a:hover {
    text-decoration: underline; }
  @media (max-width: 480px) {
    .di-alumni-list {
      text-align: left; } }

.di-project a {
  display: inline-block;
  text-decoration: none; }
.di-project p {
  font: 300 1em 'Source Sans Pro', 'Helvetica', Arial, sans-serif; }
@media (max-width: 480px) {
  .di-project h4 {
    font-size: 16px; } }
.di-project figure {
  margin-bottom: 15px; }

.message {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 3%; }

.di-ppl {
  list-style: none outside;
  padding: 0;
  font-family: 'Roboto Condensed', 'Helvetica', Arial, sans-serif; }
  .di-ppl .person {
    text-align: center;
    vertical-align: top;
    margin-top: 2em; }
    @media (max-width: 480px) {
      .di-ppl .person {
        font-size: 0.9em; } }
    .di-ppl .person img {
      border-radius: 100%; }
      @media (max-width: 480px) {
        .di-ppl .person img {
          width: 115px; } }
    .di-ppl .person .nm {
      margin-top: 5px;
      font-weight: 700;
      font-size: 1.1em;
      width: 100%; }
    .di-ppl .person .title {
      width: 100%;
      font-weight: 300; }
    .di-ppl .person .fa-twitter, .di-ppl .person .fa-envelope {
      cursor: pointer;
      vertical-align: middle; }
    .di-ppl .person .fa-twitter {
      font-size: 22px; }
    .di-ppl .person .fa-envelope {
      font-size: 18px;
      padding-left: 10px;
      margin-left: 4px;
      border-left: 1px solid #ccc; }

.di-positions {
  box-shadow: 1px 1px 1px #cacaca;
  background: #fff;
  padding: 1.5em; }

.contact {
  text-align: center;
  margin-bottom: 10%; }
  .contact div {
    padding: 1em 0; }
  .contact .media-inline {
    position: relative; }
    .contact .media-inline a {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      padding: 0 2em; }
      @media (max-width: 480px) {
        .contact .media-inline a {
          padding: 0 1em; } }

footer {
  background: #3E5266;
  color: #fff;
  padding: 2em 15px;
  overflow: hidden; }
  footer p {
    margin: 0; }
  footer .sites,
  footer .address {
    margin-top: 0.3em; }
  footer .sites {
    float: left; }
    @media (max-width: 480px) {
      footer .sites {
        float: none; } }
    footer .sites a {
      display: block; }
    footer .sites img {
      max-width: 400px;
      margin-bottom: 0.5em; }
      @media (max-width: 480px) {
        footer .sites img {
          width: 100%; } }
  footer .address {
    float: right;
    color: #f1f1f1;
    text-align: right;
    font-size: 0.9em;
    font-weight: 300; }
    @media (max-width: 480px) {
      footer .address {
        float: none;
        text-align: center; } }

/** IMAGES */
.portfolio-image {
  height: 205px;
  width: 900px;
  margin: auto;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    .portfolio-image {
      background-position: top left; } }

#facultydiversity {
  background-image: url("../img/projects/facultydiversity.png");
  background-position: top center; }

#titleix {
  background-image: url("../img/projects/titleix.png");
  background-position: top center; }

#giving-trends {
  background-image: url("../img/projects/nfg.png");
  background-position: top center !important; }

#endowments {
  background-image: url("../img/projects/endowments.png"); }

#ncaa {
  background-image: url("../img/projects/ncaa.png");
  background-position: top center !important; }

#moocs {
  background-image: url("../img/projects/moocs.png");
  background-position: 76% !important; }

#hag {
  background-image: url("../img/projects/hag.png"); }

#alcohol {
  background-image: url("../img/projects/alcohol.png"); }

#datachron {
  background-image: url("../img/projects/datachron.png");
  background-position: top center; }

#minwage {
  background-image: url("../img/projects/minwage.png");
  background-position: top right; }

#execcomp {
  background-image: url("../img/projects/execcomp.png"); }

#phil400 {
  background-image: url("../img/projects/phil400.png");
  background-position: top center !important; }

#phil-50 {
  background-image: url("../img/projects/phil50.png");
  background-position: top center; }

/*# sourceMappingURL=chrondata.css.map */
